<div class="card main" id="main">

    <div id="nav">
        <h4 style="padding: 3% 0;"> St. Rudisel's Health System </h4>
    </div>
    <div id="body">
        <div class="contain">
            <h1 style="text-align: left; margin-top: 2%; margin-left: 7.5%;">Visit Information</h1>
            <p style="text-align: left; margin-left: 7.5%;">Please complete the information below</p>

            <form>
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Facility*</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Choose...</option>
                        <option value="1">St.Rudisel West</option>
                        <option value="2">St. Rudisel's Children's Hospital</option>
                        <option value="3">Mount Rudisel's Baptist Medical Center</option>
                        <option value="4">University Medical Center East</option>
                        <option value="5">Rudisel Cancer Institute</option>
                    </select>
                </div>

                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Visit Type*</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Choose...</option>
                        <option value="1">Outpatient</option>
                        <option value="2">Inpatient</option>

                    </select>
                </div>

                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Procedure Catergory*</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" (change)="getCat($event)" (change)="open(content)">
                        <option selected>Choose...</option>
                        <option value="1">Appendectomy</option>
                        <option value="2">Breast biopsy</option>
                        <option value="3">Cataract surgery</option>
                        <option value="4">Cesarean section</option>
                        <option value="5">Coronary artery bypass</option>
                        <option value="6">Free skin graft</option>
                        <option value="7">Hysterectomy</option>
                        <option value="8">Inguinal hernia repair</option>
                        <option value="9">Low back pain surgery</option>
                        <option value="10">Partial colectomy</option>
                        <option value="11">Prostatectomy</option>
                        <option value="12">Tonsillectomy</option>
                    </select>
                </div>
            </form>
            <!-------------------------------------Modal----------------------------------------------------------------------------------->

            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <!--Modal Body-->
                <div class="modal-body">
                    <form>

                        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                        <div class="col-sm-10">


                            <div class="form-check">
                                <input type="checkbox" name="checkbox1" (change)="toggleEditable($event)"
                                    [value]="12345">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" name="checkbox2" (change)="toggleEditable($event)"
                                    [value]="6789">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" name="checkbox3" (change)="toggleEditable($event)"
                                    [value]="1011121314">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="checkbox1" (change)="toggleEditable($event)"
                                    [value]="12345">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" name="checkbox2" (change)="toggleEditable($event)"
                                    [value]="6789">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" name="checkbox3" (change)="toggleEditable($event)"
                                    [value]="1011121314">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Modal footer-->

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="display()"
                        (click)="modal.close('Save click')">Save</button>
                </div>
            </ng-template>

            <!------------------------------------------------------------------------------------------------------------------------>

            <hr>

            <div class="service-container">
                <p  *ngFor="let x of y" (click)="remove(x.toString())">
                    {{x.toString()}}
                </p>
            </div>


        </div>
    </div>


    <div id="blank">
        <div class="btn btn-success" style="margin-top: 5%; margin-left: 5%;" routerLink="">
            Back
        </div>
    </div>
</div>