<div class="card main" id="main">

    <div id="nav">
        <h4 style="padding: 3% 0;" > St. Rudisel's Health System </h4>
    </div>
    <div id="body">
        <div class="contain">
            <h1 style="text-align: center; margin-top: 15%;">Lets get started!</h1>
            <p style="text-align: center;">Please select an option below</p>
            <div class="btn btn-primary" id="btn1" style="vertical-align:middle; color:white">Start a new estimate</div>
            <br>
            <div class="btn btn-primary" id="btn2" style="color:white">View a previous estimate</div>
        </div>
    </div>
    <div id="blank">
        <div class="btn btn-success" style="margin-top: 5%; margin-left: 5%;" routerLink="">
            Back
        </div>
    </div>
</div>