.main{
    display: grid;
    //background-color: #1D2A39;
    grid-template-rows: 1fr 4fr;

    grid-template-areas:  
    "nav"
    "body"
   ;

    margin: auto;
    width: 50%;
    height: 100vh;
    border: 3px solid #1D2A39;
    //padding: 10px;
}

#nav{
    //background:blue;
    grid-area: nav;
}

#body{
    background-color: #A8D3E9;
    grid-area: body;
}

.contain{
    justify-content: center;
    margin-top: 30%;
}

.btn{
    
   
    width: 30%;
    height: 10px;
    border: 3px solid green;
    padding: 5%;

}