<div class="card main" id="main">

    <div id="nav">
        <h4 style="padding: 3% 0;"> St. Rudisel's Health System </h4>
    </div>
    <div id="body">
        <div class="contain">
            <h1 style="text-align: left; margin-top: 2%; margin-left: 7.5%;">Patient Information</h1>
            <p style="text-align: left; margin-left: 7.5%;">Please complete the information below</p>

            <form class="card">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect" style="color:blue; font-weight: 500;">First Name*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect" style="color:blue; font-weight: 500;">Last Name*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect" style="color:blue; font-weight: 500;">Date of Birth*</label>
                    <br>
                    <input type="text" ngbDatepicker #d="ngbDatepicker" />
                    <div class="btn btn-success" (click)="d.toggle()" style="height: 20px; padding-bottom: 5%; margin-left:5px">Date</div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                
            </form>
            <!-------------------------------------Modal----------------------------------------------------------------------------------->

            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--Modal Body-->
                <div class="modal-body">
                    <form>

                        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                        <div class="col-sm-10">


                            <div *ngFor="let x of z" class="form-check">
                                <input type="checkbox" name="checkbox1" [value]="x">
                                <label class="form-check-label" for="defaultCheck1">
                                    {{x}}
                                </label>
                            </div>


                        </div>
                    </form>
                </div>
                <!--Modal footer-->

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                </div>
            </ng-template>

            <!------------------------------------------------------------------------------------------------------------------------>

            <hr>

            <div class="service-container">
                <p>
                </p>
            </div>


        </div>
    </div>


    <div id="blank">
        <div class="btn btn-success" style="margin-top: 5%; margin-left: 5%;" routerLink="">
            Back
        </div>


        <div class="btn btn-primary" style="margin-top: 5%; margin-left: 500px;" routerLink="/three">
            Next
        </div>
    </div>
</div>