<div class="card main" id="main">

    <div id="nav">
        <h4 style="padding: 3% 0;"> St. Rudisel's Health System </h4>
    </div>
    <div id="body">
        <div class="contain">
            <h1 style="text-align: left; margin-top: 2%; margin-left: 7.5%;">Patient Information</h1>
            <p style="text-align: left; margin-left: 7.5%;">Please complete the information below</p>

            <form class="card">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect" style="color:blue; font-weight: 500;">First Name*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" (keyup)="keyboardEvent1($event)">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect" style="color:blue; font-weight: 500;">Last Name*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" (keyup)="keyboardEvent2($event)">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect" style="color:blue; font-weight: 500;">Date of Birth*</label>
                    <br>

                    
                    
                    <input id="datepicker" class="form-control col-7" placeholder="{{dateWording}}" ngbDatepicker #d="ngbDatepicker" 
                    [(ngModel)]="currentDateObj" name="date" (dateSelect) = "onSelect($event)">

                    <div class="btn btn-success"  (click)="d.toggle()" style="height: 20px; padding-bottom: 5%; margin-left:5px">Date</div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                
            </form>
           

            <!------------------------------------------------------------------------------------------------------------------------>

            <hr>

            <div class="service-container">
                {{array_of_selected_accounts}}
                {{selectedDate}}
            </div>


        </div>
    </div>


    <div id="blank">
        <div class="btn btn-success" style="margin-top: 5%; margin-left: 5%;" routerLink="">
            Back
        </div>


        <div class="btn btn-primary" style="margin-top: 5%; margin-left: 500px;" (click)="onSelect2()">
            Next
        </div>
    </div>
</div>