<div class="card main">

    <div class="card" id="nav">
     <h4 style="padding: 3% 0;" > St. Rudisel's Health System </h4>
    </div>
  
    <div id="hero">
      <img src="../assets/pexels-linkedin-sales-navigator-2182976.jpg" alt=""  style='height: 10%; width: 100%; object-fit: contain'>
    </div>
    
  
    <div class="btn" id="menu1" style="color: white;">Find a Doctor</div>
    <div class="btn" id="menu2" style="color: white;">Find a Location</div>
    <div class="btn" id="menu3" style="color: white;">Request an Appointment</div>
    <div class="btn" id="menu4" routerLink="est-start" style="color: white;">Price Estimator</div>
  
  
  
  
  
  </div>
  
  
  
  <router-outlet></router-outlet>